#aboutus {
  background-color: #53616A;
  color:rgba(255,255,255,1);
  background-image: url('/img/image_services.svg');
  padding-bottom: 250px;
  .board-info {
    text-align: left;
    h2 { }
    .board-director {
      .director {
        .director-header {
          position: relative;
          height: 60px;
          img { width: 70px; position: absolute;}
          .director-name {
            font-weight: bold;
            font-size: 1.167rem;
            position: absolute;
            top: 27px;
            left: 39px;
            span { font-weight: normal;}
          }
        }
        .director-resume {
          padding-left: 60px;
          font-size: .889rem;
          .item { }
        }
      }
    }
  }
}
