#aboutus {
  background-color: #EFEFEF;
  color:rgba(0,0,0,1);
  padding-bottom: 250px;
  .about-info {
    text-align: left;
    width: 75%;
    margin: 0 auto;
    h2 { text-align: center; font-style: italic; }
    .board-director {

      .director {
        .director-header {
          position: relative;
          height: 60px;
          img { width: 70px; position: absolute;}
          .director-name {
            color: @headerColor;
            font-weight: bold;
            font-size: 1.167rem;
            position: absolute;
            top: 27px;
            left: 39px;
            span { font-weight: normal;}
          }
        }
        .director-resume {
          padding-left: 60px;
          font-size: .889rem;
          .item { }
        }
      }
    }
  }
}
