#careers {
      background-color: #ffffff;
      min-height: 770px;
      h2 { }

      @media @mobile-device {
        min-height: @mobile-section-height;
        h2 { font-size: 2.25rem; }
      }

      .header-window {
        img {
          top: -165px;
          @media @mobile-device{ top: 0px;  }
        }
      }
      .careers-page {
        width: 75%;
        margin: 0 auto;
        text-align: left;
        @media @mobile-device{ text-align: center; }
        .careers-section {
          .career-item {
            font-size: 1.5rem;
            color: #256db5;
            @media @mobile-device { font-size: 2.5rem;}
            a {
              &:hover { text-decoration: none; }
              i { margin-right: 7px;    }
              span { &:hover { text-decoration: underline; }}
            }
          }
        }
      }
}
