#contactus {
  background-color: #efefef;
  background-image: url('/img/image_contactus.svg');

  .contact-page {
    .content-area {
      display: inline-block;
      width: 50%;
      &.content-left { float: left;}
      &.content-right { float: right; }
      .contact-form {
        text-align: left;
        background-color: rgba(255,255,255,0.5);
        padding: 10px;
        border-radius: 25px;
        color: rgba(0,0,0,1);
        md-input-container {
          display: block;
          label { color: rgba(0,0,0,1);}
        }
      }
    }
  }
}
