#contactus {
  background-color: #EFEFEF;
  .header-window {
    img {
      top: -165px;
      @media @mobile-device{ top: 0px;  }
    }
  }

  .contact-page {
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
    .content-area {
      display: inline-block;
      width: 50%;
      &.content-left { float: left;}
      &.content-right { float: right; }
      .contact-form {
        text-align: left;
        padding: 0px 20px;
        color: rgba(0,0,0,1);
        .form-container {
          margin-top: 0px;
          margin-bottom: 10px;
          display: block;

          input, textarea { background-color: rgba(255,255,255,1); border: 1px solid rgba(204,204,204,1); width: 100%; resize: none; }
          .md-errors-spacer { min-height: 10px; }
        }
        .buttonSection { text-align: center; margin-top: 10px; }
        p { font-size: .889rem; color: #000; font-weight: bold; }
      }
      .contact-address {
        text-align: left;
        padding-bottom: 20px;
        span {
          display: block;
          font-size: .889rem;
          &.contact-title { color: @headerColor; font-size: 1.5rem}
        }
      }
    }
  }
}
