#engagement {
      background-color: #EFEFEF;
      .header-window {
        @media @mobile-device{ img { top: -100px; }  }
      }

      text-align: left;
      .Emodels {
        width: 75%;
        margin: 0 auto;
        .panel-group {
          .panel {
            border:none !important;
            background-color: rgba(255,255,255,0) !important;
            .panel-heading {
              background: none !important;
              border: none !important;
              color: @headerColor;
              a:hover { text-decoration: none !important;}
              .header-container{
                max-width: 400px;
                text-align: left;
                .glyphicon { padding-top: 6px;}
                .header-title { font-size: 1.5rem; padding-left: 7px; }
              }
            }
            .model-img { width: 100%; }
          }
        }
      }
}
