.backscreen {
  &.screen-main {
    margin-top:55px;
  }
}
#main {
      background-image: url('/img/backgrounds/1.jpg');
      min-height: 800px;
      @media @mobile-device{ background-size: 300%;}

      .sectionTemplate {
        .main {
          padding: 150px 7% 0% 7%;
          @media @mobile-device{ padding: 40px 7% 0% 7%; }

          .main-pageTitle {
            .title-row {
              display: block;
              text-align: right;

              &.sub-title { margin-top: 40px; .title { font-weight: normal !important; }}
              .title {
                display: inline-block;
                text-align: center;
                padding: 10px;
                background: rgba(0,0,0,1);
                color: rgba(255,255,255,1);
                font-weight: bold;
                margin: 0px;
              }
            }
          }

          .investorsPop {
            font-size: 0.888rem;
            background-color: rgba(9,174,180, 0.9);
            color: #ffffff;
            height: 235px !important;
            width: 370px !important;
            padding: 25px;
            position: fixed;
            bottom: 0px;
            right: 17%;
            text-align: center;
            border-radius: 10px 10px 0px 0px;

            @media @mobile-device{ display:none; }

            &.screenPass {
              position: absolute !important;
              bottom: 0px;
            }
            h1 {
              margin-top: 0px;
              font-size: 1.556rem;
              text-transform: uppercase;
            }
            p {
              font-size: 0.888rem;
            }
            .popButton {
              color: #ffffff;
              margin-top: 10px;
              border: 1px solid #ffffff;
              padding: 10px 5px;
              font-size: .889rem;
              text-decoration: none;
              display: inline-block;
              width: 100%;

              &:hover, &:focus {
                background-color: rgba(255,255,255,1);
                color:rgba(9,174,180, 1);
              }
            }
          }
        }
      }
    }
