#partnering {
  background-color: #83926F;
  background-image: url('/img/image_services.svg');

  .partnering-options {
    text-align: left;
    .option {
      padding-bottom:50px;
      .option-title {
        font-weight: bold;
        font-size: 1.5rem;
        color:rgba(0,0,0,1);
      }
      .option-description { font-size: 1.2rem; }
    }
  }
}
