#partnering {
  background-color: #ffffff;
  background-image: url('/img/image_investors.svg');

  .partnering-options {
    text-align: left;
    .option {
      padding-bottom:50px;
      .option-title {
        font-weight: bold;
        font-size: 1.5rem;
        color:rgba(25,25,112,1);
      }
      .option-description { font-size: 1.2rem; }
    }
  }
}
