/* site.css */
html, body, .mainBody, .mainBody div {
  height: 100%;
  weight: 100%;
}

/*Header */
.navbar {
  padding-top: 20px;
}
/*END - Header*/

/*Body*/
section {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

#home1 {
  background-color: #e2e2e2;
}
#teamwork {
  background-color: #efefef;
}
#services {
  background-color: #53616A;
}
#investors {
  background-color: #ffffff;
}
#contactus {
  background-color: #efefef;
}
