<div class="templateBody aboutus">
  <h1 class="sectionHeader">About Us</h1>

  <div class="board-info">
    <h2>Board of Directors</h2>
    <div class="board-director">
      <div class="director" ng-repeat="director in hc.boardOfDirectors">
        <div class="director-header">
          <img src="/img/icon_star.svg">
          <div class="director-name">{{director.name}} <span>({{director.title}})</span></div>
        </div>
        <ul class="director-resume"><li class="item" ng-repeat="item in director.resume">{{item}}</li></ul>
      </div>
    </div>
  </div>

  <div class="buttonSection">
    <a href="#contactus" du-smooth-scroll du-scrollspy class="sectionButton">Contact Us</a>
  </div>
  
</div>
