<div class="templateBody contactus">
  <div class="header-window"><img src="/img/backgrounds/6.jpg"></div>
  <h1 class="sectionHeader">Contact Us</h1>

  <div class="contact-page">
    <div class="content-area content-left">
      <div class="contact-address">
        <span class="contact-title">JK BioPharma Solutions, Inc</span>
        <span>1 Research Court</span>
        <span>Suite 370</span>
        <span>Rockville, MD 20850</span>
      </div>
      <div class="contact-address">
        <span>Tel: 301-250-4490</span>
        <span>Fax: 301-264-7037</span>
        <span>Email: info@jkbiopharma.com</span>
      </div>

      <div class="contact-address"><span>Dial 070-7885-4193 in Korea</span></div>
    </div>

    <div class="content-area content-right">
      <form class="contact-form" ng-submit="hc.sendEmail()">
        <md-input-container><label>Name</label><input type="text" ng-model="hc.contactUsForm.name"></md-input-container>
        <md-input-container><label>Phone</label><input type="tel" ng-model="hc.contactUsForm.phone"></md-input-container>
        <md-input-container><label>Email</label><input type="email" ng-model="hc.contactUsForm.toEmail"></md-input-container>
        <md-input-container><label>Subject</label><input type="text" ng-model="hc.contactUsForm.subject"></md-input-container>
        <md-input-container><label>Message</label><textarea type="text" ng-model="hc.contactUsForm.message" rows="3" md-select-on-focus></textarea></md-input-container>

        <div class="buttonSection">
          <input type="submit" value="Submit" class="sectionButton">
        </div>
      </form>

    </div>
  </div>
  <div style="clear:both"></div>
</div>
