<div class="templateBody contactus">
  <h1 class="sectionHeader">Contact Us</h1>

  <div class="contact-page">
    <div class="content-area content-left">
      <div class="contact-address">
        <span class="contact-title">JK BioPharma Solutions, Inc.</span>
        <span>1 Research Court</span>
        <span>Suite 370</span>
        <span>Rockville, MD 20850</span>
      </div>
      <div class="contact-address">
        <span>Tel: 301-250-4490</span>
        <span>Fax: 301-264-7037</span>
        <span>Email: info@jkbiopharma.com</span>
      </div>

      <div class="contact-address dial-address"><span>Dial 070-7885-4193 in Korea</span></div>
    </div>

    <div class="content-area content-right">
      <form class="contact-form" ng-submit="hc.sendEmail()">
        <div class="form-container"><input type="text" placeholder="Name*" ng-model="hc.contactUsForm.name"></div>
        <div class="form-container"><input type="tel" placeholder="Phone"ng-model="hc.contactUsForm.phone"></div>
        <div class="form-container"><input type="email" placeholder="Email*"ng-model="hc.contactUsForm.toEmail"></div>
        <div class="form-container"><input type="text" placeholder="Subject"ng-model="hc.contactUsForm.subject"></div>
        <div class="form-container"><textarea type="text" placeholder="Message*"ng-model="hc.contactUsForm.message" rows="3" md-select-on-focus></textarea></div>
        <div class="req-fields">Required fields *</div>
        <div class="buttonSection">
          <input type="submit" value="Submit" class="sectionButton">
        </div>
      </form>

    </div>
  </div>
  <div style="clear:both"></div>
</div>
