<div class="templateBody partnering">
  <div class="header-window"><img src="/img/backgrounds/4.jpg"></div>
  <h1 class="sectionHeader">Partnering</h1>

  <div class="partnering-options">
    <div class="option">
      <div class="option-title">In-Licensing</div>
      <div class="option-description">JK BioPharma Solutions partners with innovative researchers, universities and companies in order to further the development of drug candidates from bench to bedside.</div>
    </div>
    <div class="option">
      <div class="option-title">Co-development</div>
      <div class="option-description">JK BioPharma Solutions seeks projects at all stages of the development process. We are seeking to collaborate with foreign bio/pharmaceutical companies who are pursuing clinical development in the US. We intend to co-develop a number of pre-clinical and early clinical therapeutic projects through clinical proof-of-concept.</div>
    </div>
  </div>
</div>
