<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <a class="navbar-brand" href="#main" du-smooth-scroll du-scrollspy><img src="/img/logo_jkbiopharma4.png" class="logo" alt="JK BioPharma logo"></a>
        <!--<a class="navbar-brand" href="#main"><object type="image/svg+xml" data="/img/logo.svg" class="logo">J.K. BioPharma Logo</object></a>-->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav pull-right">
          <li><a href="#teamwork" du-smooth-scroll du-scrollspy>About us</a></li>
          <li><a href="#services" du-smooth-scroll du-scrollspy>Service</a></li>
          <!--<li><a href="#pipeline">Pipeline</a></li>-->
          <li><a href="#investors" du-smooth-scroll du-scrollspy>Investors</a></li>
          <li><a href="#contactus" du-smooth-scroll du-scrollspy>Contact us</a></li>
        </ul>
      </div>
    </div>
  </nav>
