<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <a class="navbar-brand" href="#main-link" du-smooth-scroll du-scrollspy><img src="/img/logos/logo.svg" class="logo" alt="JK BioPharma logo"></a>
        <!--<a class="navbar-brand" href="#main"><object type="image/svg+xml" data="/img/logo.svg" class="logo">J.K. BioPharma Logo</object></a>-->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav pull-right">
          <li><a class="link" href="#aboutus-link" du-smooth-scroll du-scrollspy>About us</a></li>
          <li><a class="link" href="#engagement-link" du-smooth-scroll du-scrollspy>Engagement model</a></li>
          <li><a class="link" href="#partnering-link" du-smooth-scroll du-scrollspy>Partnering</a></li>
          <li><a class="link" href="#careers-link" du-smooth-scroll du-scrollspy>Careers</a></li>
          <li><a class="link" href="#contactus-link" du-smooth-scroll du-scrollspy>Contact us</a></li>
        </ul>
      </div>
    </div>
  </nav>
