<div class="templateBody main">
  <div class="main-pageTitle">
    <div class="title-row"><h1 class="title mainTitle">Pursuing</h1></div>
    <div class="title-row"><h1 class="title mainTitle">Innovation</h1></div>
    <div class="title-row"><h1 class="title mainTitle">Strategy</h1></div>
    <div class="title-row"><h1 class="title mainTitle">Value-up</h1></div>
    <div class="title-row sub-title"><h2 class="title">Drug Developer focusing early<br>stage developmental assets</h2></div>
  </div>
</div>
