<div class="templateBody main">
  <div class="main-pageTitle">
    <div class="title-row"><h1 class="mainTitle">Pursuing</h1></div>
    <div class="title-row"><h1 class="mainTitle">Innovation</h1><h1 class="mainTitle">Strategy</h1><h1 class="mainTitle">Value-up</h1></div>
    <div class="title-row"><h2>Drug Developer focusing early stage developmental assets</h2></div>
  </div>
  <!--<div class="buttonSection mobile-button">
    <a href="#investors" du-smooth-scroll du-scrollspy class="sectionButton">For Investors</a>
  </div>

  <div class="investorsPop screenPass" section-bottom>
    <h1>For Investors</h1>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    <a href="#investors" du-smooth-scroll du-scrollspy class="popButton" id="investorsButton">See More Information</a>
  </div>-->
</div>
