@font: 'Roboto', sans-serif;
@font-size: 18px;
@mobile-device: ~"(max-width: 770px)";
@mobile-section-height: 700px;

html, body, .mainBody, .sectionBody {
  height: 100%;
  width: 100%;
  font-family: @font;
  font-size: @font-size;

  @media @mobile-device{
    max-height: @mobile-section-height;
    font-size: 8px;
  }
}

h1 {
  font-weight: bold;
  font-size: 2.777rem;

  @media @mobile-device{  font-size: 5rem;}
}
/*Navigation*/
.navbar {
  padding-top: 27px;
  height: 80px;
  font-size: .944rem;
  background-color: rgba(0,0,0,0.6);
  padding: 27px 10px 0px 10px;
  @media @mobile-device{
    padding-top:20px;
    height: 70px;
   }

  .navbar-header {
    .navbar-brand {
      padding: 0px 15px;
      height: 100%;
      .logo {
        width: 220px;
        color: #ffffff;
        @media @mobile-device{ width: 180px;  padding-top:5px;   }
      }
    }

    .navbar-toggle {
      border-color: #ffffff;
      margin-top: 0px;

      .icon-bar {
        background-color: #ffffff;
      }
    }
  }
  .navbar-collapse{
    @media @mobile-device { background-color: rgba(0,0,0,0.6); margin: 0px -25px; }
  }
  .navbar-nav {
    li {
      a {
        color:rgba(255, 255, 255,1);
        padding: 5px 20px 15px 20px;
        @media @mobile-device{ font-size: 2rem;  }

        &:hover, &:focus {
          background-color: rgba(0,0,0,0);
          color: rgba(255,255,255,0.5);
        }
      }
    }
  }
}

/*FOOTER*/
.footer {
  height:60px;
  background-color: rgba(0,0,0,1);
}

/*BODY*/
.sectionBody {
  min-height: 850px;
  @media @mobile-device{ max-height: @mobile-section-height; min-height: @mobile-section-height; }
  section {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    min-height: 850px;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    @media @mobile-device{  max-height: @mobile-section-height; min-height: @mobile-section-height;  }

    .sectionTemplate {
      padding: 0px 20px;
      height: 100%;

      @media @mobile-device{  max-height: @mobile-section-height;   }

      .templateBody {
        padding: 50px 30px 0px 30px;
        //margin-top: 50px;
        text-align: center;
        height: 100%;
        width: 100%;
        position: relative;

        .mainTitle {
          font-weight: 100;
          font-size: 3.222rem;
        }

        .sectionHeader {
          text-transform: uppercase;
          margin-bottom: 30px;
        }

        p {
          font-size: 1.7rem;
          font-weight: 100;

          @media @mobile-device{  font-size: 2.4rem; }
        }

        .buttonSection {
          margin-top: 50px;
          @media @mobile-device{  margin-top: 30px; }

          &.mobile-button {
            display: none;
            @media @mobile-device{  display: block; }

            .sectionButton {
              background-color: rgba(9,174,180, 0.9);
            }
          }
          .sectionButton {
            font-size: 1.16rem;
            margin-top: 10px;
            background-color: #2F363C;
            color: #ffffff;
            padding: 10px 50px;
            min-width: 150px;
            display: inline-block;
            text-transform: uppercase;
            @media @mobile-device{
              padding: 10px 30px;
              font-size: 2.40rem;
              letter-spacing: 2px;
            }

            &:hover {
              background-color: rgba(0,123,182,1);
              color:#ffffff;
              text-decoration: none;
            }
          }
        }


      }
    }
    /*MAIN TEMPLATE*/
    &#main {
      background-color: #D4D3CE;
      background-image: url('/img/image_home.jpg');
      @media @mobile-device{ background-size: 270% 88%;}

      .sectionTemplate {
        .main {
          //margin-top:80px;
          padding: 80px 7% 0% 7%;
          @media @mobile-device{ padding: 40px 7% 0% 7%; }

          .investorsPop {
            font-size: 0.888rem;
            background-color: rgba(9,174,180, 0.9);
            color: #ffffff;
            height: 235px !important;
            width: 370px !important;
            padding: 25px;
            position: fixed;
            bottom: 0px;
            right: 17%;
            text-align: center;
            border-radius: 10px 10px 0px 0px;

            @media @mobile-device{ display:none; }

            &.screenPass {
              position: absolute !important;
            }
            h1 {
              margin-top: 0px;
              font-size: 1.556rem;
              text-transform: uppercase;
            }
            p {
              font-size: 0.888rem;
            }
            .popButton {
              color: #ffffff;
              margin-top: 10px;
              border: 1px solid #ffffff;
              padding: 10px 5px;
              font-size: .889rem;
              text-decoration: none;
              display: inline-block;
              width: 100%;

              &:hover, &:focus {
                background-color: rgba(255,255,255,1);
                color:rgba(9,174,180, 1);
              }
            }
          }
        }
      }
    }

    /*TEAMWORK TEMPLATE*/
    &#teamwork {
      background-color: #efefef;
      background-image: url('/img/image_aboutus.svg');

      @media @mobile-device{
        background-size: 200%;
      }

      .teamwork {
        padding: 50px 15% 0% 15%;
        @media @mobile-device{     padding: 30px 5% 0% 5%;     }
      }
    }

    /*SERVICES TEMPLATE*/
    &#services {
      background-color: #53616A;
      background-image: url('/img/image_services.svg');
      background-size: 100% 60%;
      background-position-y: 130%;
      @media @mobile-device{  background-size: 100%;  background-position-y: 100%; }

      .services {
          color: rgba(255,255,255,1);
          padding: 50px 250px 0px 250px;
          @media @mobile-device{  padding: 30px 5% 0% 5%;  }

          .servicesList {
            text-align: left;
            .serviceItem {
              text-align: left;
              margin-bottom: 30px;
              img {
                width: 70px;
                position: absolute;
              }
              .serviceContent {
                padding:27px 0px 0px 40px;
                div {
                  font-weight: bold;
                  font-size: 1.167rem;
                }
                p {
                  font-weight: normal;
                  font-size: .889rem;
                }
              }
            }
          }
      }
    }

    /*INVESTORS TEMPLATE*/
    &#investors {
      background-color: #ffffff;
      background-image: url('/img/image_investors.svg');

      .investors {
        padding: 50px 15% 0% 15%;
      }
    }

    /*Contact Us*/
    &#contactus {
      background-color: #efefef;
      background-image: url('/img/image_contactus.svg');
    }
  /**/
  }
}
